In [13]:
import os
os.makedirs('outputs/', exist_ok=True)

In [14]:
import json
import pandas as pd

In [15]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
  column_details = schemas[ds_name]
  columns = sorted(column_details, key=lambda col: col[sorting_key])
  return [col['column_name'] for col in columns]

In [16]:
schemas = json.load(open('../../data/retail_db/schemas.json'))

In [23]:
order_columns = get_column_names(schemas, 'orders')
order_columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [18]:
orders = pd.read_csv('../../data/retail_db/orders/part-00000', names=order_columns)
export_orders = orders[:20]

In [26]:
export_orders.to_csv('outputs/csv-export-orders', header=None)

In [28]:
export_orders.to_json('outputs/json-export-orders', orient='records', lines=True)

In [29]:
pd.read_json('outputs/json-export-orders', lines=True)

    order_id             order_date  order_customer_id     order_status
0          1  2013-07-25 00:00:00.0              11599           CLOSED
1          2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2          3  2013-07-25 00:00:00.0              12111         COMPLETE
3          4  2013-07-25 00:00:00.0               8827           CLOSED
4          5  2013-07-25 00:00:00.0              11318         COMPLETE
5          6  2013-07-25 00:00:00.0               7130         COMPLETE
6          7  2013-07-25 00:00:00.0               4530         COMPLETE
7          8  2013-07-25 00:00:00.0               2911       PROCESSING
8          9  2013-07-25 00:00:00.0               5657  PENDING_PAYMENT
9         10  2013-07-25 00:00:00.0               5648  PENDING_PAYMENT
10        11  2013-07-25 00:00:00.0                918   PAYMENT_REVIEW
11        12  2013-07-25 00:00:00.0               1837           CLOSED
12        13  2013-07-25 00:00:00.0               9149  PENDING_PAYMENT
13        14  2013-07-25 00:00:00.0               9842       PROCESSING
14        15  2013-07-25 00:00:00.0               2568         COMPLETE
15        16  2013-07-25 00:00:00.0               7276  PENDING_PAYMENT
16        17  2013-07-25 00:00:00.0               2667         COMPLETE
17        18  2013-07-25 00:00:00.0               1205           CLOSED
18        19  2013-07-25 00:00:00.0               9488  PENDING_PAYMENT
19        20  2013-07-25 00:00:00.0               9198       PROCESSING